:root {
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


div.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px solid #000;
  padding: 10px;
}

.screen {
  height: 80px;
  background-color: lightgrey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.history {
  font-size: 14px;
  opacity: 0.8;
  display: flex;
  justify-content: flex-end;
}

.number-displayed {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}

.screen * {
  margin: 0
}

.nums-n-ops {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

.operator {
  font-weight: 700;

}

.row button {
  width: 50px;
  height: 50px;
  font-size: 24px;
}